<div class="full-page" [ngStyle]="{'background-color': currentStatus.backgroundColor}">
<div class="container" >
  <div class="time-status">
    <div *ngIf="eventsAvailability == true; else noEvents">
    <app-timer></app-timer>
      <span class="Available">{{currentStatus.statusLabel}}</span>
    </div>
  </div>
    <div class="title-container">
      <img src="../../../../assets/images/mesh.png"
         srcset="../../../../assets/images/mesh@2x.png 2x,
               ../../../../assets/images/mesh@3x.png 3x"
         class="Mesh">
      <div class="center-block">
        <h1 class="name">Hall Room</h1>
          <app-button
          [text]="currentStatus.bookButton"
          [fontColor]="currentStatus.fontColor"
          routerLink="/booking-page"
          [class]="'button'"
          [backgroundColor]="'white'"
          ></app-button>
      </div>
    </div>
</div>
</div>
<ng-template #noEvents>
  <h1 class="noevents">{{currentStatus.statusLabel}}</h1>
  <span class="Available">No upcoming events found</span>
</ng-template>
