<div [class]="loading == true ? 'disabled-loader-btn' : null">
  <button
    type="button"
    [class]="'btn '+ classList"
    (click)="onClick()"
    [ngStyle]="{backgroundColor: backgroundColor, width: width, fontSize: fontSize}"
    [attr.disabled]="disabled ? true: null"
  ><span
    [ngStyle]="{color: fontColor}"
    *ngIf="!loading; else loader"
  >{{text}}
</span>
  </button>
</div>

<!--LOADER-->
<ng-template #loader>
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
