.btn.focus, .btn:focus
  outline: 0
  box-shadow: none

.btn
  background-color: #e0e3e5
  border: none
  height: 78px

span
  font-family: OpenSans, sans-serif
  border-radius: 0
  font-weight: bold
  letter-spacing: -1px
  text-align: center
  color: #526072
//BUTTON TYPES
.active
  background-color: #526072
  span
    color: #ffffff

.disabled-loader-btn
  pointer-events: none

//SPINNER
.lds-ring
  width: 35px
  height: 35px
  position: relative
  padding-left: 73px

.lds-ring div
  box-sizing: border-box
  position: absolute
  width: 35px
  border: 6px solid
  height: 35px
  border-radius: 50%
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  border-color: #fff transparent transparent transparent

.lds-ring div:nth-child(1)
  animation-delay: -0.45s

.lds-ring div:nth-child(2)
  animation-delay: -0.3s

.lds-ring div:nth-child(3)
  animation-delay: -0.15s

@keyframes lds-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)




