.measure
  height: 300px
  width: 400px
  display: flex
  overflow: hidden

.horizontal
    flex-direction: row

.vertical
    flex-direction: column

.big
  flex-grow: 1
  width: 100%
  color: #52647a
  font-size: 21px
  font-family: OpenSans, sans-serif
  font-weight: 600
  position: relative
  &:after
    content: ''
    width: 40px
    border-bottom: solid 10px black
    z-index: 1

.small
  flex-grow: 1
  width: 100%
  text-align: right
  font-size: 18px
  font-family: OpenSans, sans-serif
  color: #7b7b7b
  padding-right: 22px