<div class="popup" *ngIf="popUpState">
  <div class="modal-content">
    <span class="close" (click)="onCloseClick()">&times;</span>
    <h2 *ngIf="title">{{title}}</h2>
    <div>
      <ul>

      </ul>
    </div>
    <div *ngIf="event">
      <h2>{{event.title}}</h2>
      <ul>
        <li>Creator: {{event.creator}}</li>
        <li>Description: {{event.description}}</li>
        <li>Time: {{event.start | date: 'HH:mm'}} -
          {{event.end | date: 'HH:mm'}}
        </li>
        
        <li>Attendees:  
          <ul>
            <li *ngFor="let attende of event.attendees">
              {{attende.email}}
            </li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</div>