$soon-background: #f3bf49;
$available-background:#43b799;
$inproces-background: #c0392b;

$soon-text: #b38d36;
$available-text:#31856e;
$inproces-text: #8c2a1f;

$main-grey: #e0e3e5;
$text-color: #526072;

