<div
*ngIf="blocks"
class="events-block"
[ngStyle]="{ 'background-color': 'red'}">
<div
  *ngFor="let block of blocks"
  [ngClass]="block.type"
  [ngStyle]="{'height': pxStringBuider(block.duration), 'top':pxStringBuider(block.fromStart)}">
<span
 >{{block.string}} {{block.start | date: 'HH:mm'}} - {{block.end | date: 'HH:mm'}}
</span>
</div>
<div
*ngIf="event"
  class="newEvent"
  [ngStyle]="{'height': pxStringBuider(event.duration), 'top':pxStringBuider(event.timeFromStart)}">
<span
 >{{event.string}} {{event.start | date: 'HH:mm'}} - {{event.end | date: 'HH:mm'}}
</span>
</div>
</div>
