<div class="main">
  <div *ngIf="blocks" class="measure">
    <div
      *ngFor="let time of measure"
      [ngStyle]="{'height': time.height}"
      [ngClass]="time.type == 'small'? 'small' : 'big'"
    ><span class="event-status">{{time.time | date: 'HH:mm'}}</span>
      <span class="line"
        *ngIf="time.type == 'big'"></span>
    </div>
  </div>
  <div class="event-blocks">
    <div
      *ngFor="let block of blocks"
      [class]="'event'"
      [ngStyle]="{'height': calculateEventHeight(block.duration), 'top':calculateEventOffset(block.fromStart)}">
      <span class="event-status">{{block.string}}&nbsp;</span>
      <span class="event-time">{{block.start | date: 'HH:mm'}} - {{block.end | date: 'HH:mm'}}</span>
    </div>
    <div
      #pidar
      *ngIf="event"
      class="newEvent"
      [ngStyle]="{'height':  calculateEventHeight(event.duration), 'top':calculateEventOffset(event.timeFromStart)}">
      <span class="newEvent-status">New meeting, &nbsp;</span>
      <span class="newEvent-time">{{event.start | date: 'HH:mm'}} - {{event.end | date: 'HH:mm'}}
</span>
    </div>
  </div>
</div>
