.event
  width: 100%
  background-color: #e0e3e5
  margin: 1px

.events-block
  width: 100%

.space
  width: 100%

.tempEvent
  margin: 1px
  width: 100%
  background-color: #526072

.scrolling-block
  overflow: scroll
  height: 700px
  width: 500px
