
.events-block
  width: 100%
  position: relative
  height: 700px
  background-color: red


.event
  position: absolute
  width: 100%
  background-color:   #e0e3e5
  border: 1px solid black
  
  

.scrolling-block
  overflow: scroll
  height: 700px
  width: 500px