<div class="background" [ngClass]="currentStatus.class">

  <div class="content">
    <div class="timer-container">
      <div *ngIf="timerString; else noEvents">
        <h1 class="timer">{{timerString}}</h1>
        <h2 class="status-name">{{currentStatus.statusLabel}}</h2>
      </div>
    </div>
    <div class="title-container">
      <h1 class="name">Hall Room</h1>
      <button routerLink="/book" class="book-button" >
        <span [ngClass]="currentStatus.class">
          {{currentStatus.bookButton}}
        </span>
      </button>
    </div>

  </div>
</div>
<ng-template #noEvents>
  <h1 class="noevents">Available</h1>
  <span class="status-name">No upcoming events</span>
</ng-template>