<div class="background" [ngStyle]="{'background-color': currentStatus.backgroundColor}">
  <div class="container">
    <div class="content">
      <div class="time-block">
        <div *ngIf="timerString; else noEvents">
          <h1 class="timer">{{timerString}}</h1>
          <span class="status-name">{{currentStatus.statusLabel}}</span>
        </div>
      </div>
      <div class="title-container">
        <h1 class="name">Hall Room</h1>
        <button
          routerLink="/booking-page"
          class="book-button"
          [ngStyle]="{color: currentStatus.fontColor}">
          <span>
            {{currentStatus.bookButton}}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #noEvents>
  <h1 class="noevents">Available</h1>
  <span class="status-name">No upcoming events</span>
</ng-template>


