@import 'src/app/variables.scss';

.title-container {
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &:after {
    content: '';
    background: url('../../../assets/images/mesh.png') no-repeat center;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
  }
}

.background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background.soon {
  background-color: $soon-background;
}
.background.available {
  background-color: $available-background;
}
.background.inprocess {
  background-color: $inproces-background;
}

.content {
  max-height: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ffff;
  text-align: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.timer {
  font-weight: bold;
}
@media (min-width: 20rem) {
  .timer {
    font-size: calc(3.75rem + ((1vw - 0.2rem) * 1.875));
  }
}
@media (min-width: 120rem) {
  .timer {
    font-size: 5.625rem;
  }
}

.status-name {
  text-align: center;
  font-weight: bold;
}
@media (min-width: 20rem) {
  .status-name {
    font-size: calc(2.25rem + ((1vw - 0.2rem) * 0));
  }
}
@media (min-width: 120rem) {
  .status-name {
    font-size: 2.25rem;
  }
}

.name {
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.05em;
}

@media (min-width: 20em) {
  .name {
    font-size: calc(3.125rem + ((1vw - 0.2em) * 1.875));
  }
}
@media (min-width: 120em) {
  .name {
    font-size: 5em;
  }
}

.book-button {
  width: 210px;
  z-index: 20;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.1px;
  background-color: #ffffff;
  .soon {
    color: $soon-text;
  }
  .available {
    color: $available-text;
  }
  .inprocess {
    color: $inproces-text;
  }

  &:hover {
    span:after {
      opacity: 1;
      right: 0;
    }
    span{
      transition: 0.5s;
      padding-right: 1em
    }
  }

  span {
    transition: 0.5s;
    position: relative;
  }
  span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.8em;
    transition: 0.6s;
  }
}
