body

  
button:focus
  outline: 0
  box-shadow: none

button
  border: none
  height: 78px
<<<<<<< HEAD
  border-radius: 5px
  &:hover
    cursor: pointer
    transition: background-color 0.2s
=======
>>>>>>> fb4c552682d938bc860e71b98890361fd7da4c26
  span
    font-family: OpenSans, sans-serif
    font-weight: bold
    letter-spacing: -1px
    text-align: center
.book-button
  width: 210px
  font-size: 24px

//BUTTON TYPES
