.buttons
  margin-left: 12px

.button-row-1
  display: flex
  justify-content: center
  flex-direction: row
  padding-top: 80px

.cancel-btn
  margin-right: 16px

.button-row-2
  display: flex
  justify-content: center
  flex-direction: row
  padding-top: 36px
