<div class="container">
  <div class="button-container">
    <div class="button-row-1">
      <button
        class="time-buttons"
        *ngFor="let availableMeetingDuration of availableMeetingDurations"
        (click)="selectMeetingDuration(availableMeetingDuration)"
        [ngClass]="selectedDuration == availableMeetingDuration.value? ' selected-button': null"
        [class]="availableMeetingDuration.value>gotInterval.interval || !gotInterval? 'disabled-button' : null">
        <span>
          {{availableMeetingDuration.label}}
        </span>
      </button>
    </div>

    <div class="button-row-2">
      <button
        class="cancel-btn"
        routerLink="/main-page">
        <span>Cancel</span>
      </button>
      <div [class]="loaderIsShown ? 'disabled-loader-btn' : null">
        <button
          class="book-button book-button-addition"
          [ngClass]="!gotInterval? ' disabled-button' : null"
          (click)="createEvent()">
          <span
            *ngIf="!loaderIsShown; else loader"
          >{{currentStatus.bookButtonSecond}}</span>
        </button>
      </div>
    </div>

    <div class="scrolling-block">
      <div *ngIf="blocks" class="events-block" [ngStyle]="{ 'background-color': 'white'}">
        <div *ngFor="let block of blocks" [ngClass]="block.type" [ngStyle]="{'height': pxStringBuider(block.duration)}">
          <span *ngIf="block.type!='space'">{{block.string}} {{block.start | date: 'HH:mm'}} - {{block.end | date: 'HH:mm'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
