<div class="button-container">
  <div class="button-row-1">
    <!--<button class="unclicked-button" (click)="selectButton()" [ngStyle]="{backgroundColor: buttonStatus.buttonColor}">-->
      <!--<span  [ngStyle]="{color: buttonStatus.textColor}">15</span>-->
    <!--</button>-->
    <app-button
      *ngFor="let availableMeetingDuration of availableMeetingDurations"
      [text]="availableMeetingDuration.label"
      [classList]="selectedDuration == availableMeetingDuration ? 'active' : ''"
      (click)="selectMeetingDuration(availableMeetingDuration)"
    ></app-button>
  </div>

  <!--<div class="button-row-2">-->
    <!--<button></button>-->
    <!--<button></button>-->
  <!--</div>-->
</div>
