<div class="button-container">
  <div class="button-row-1">
    <app-button
      *ngFor="let availableMeetingDuration of availableMeetingDurations"
      [text]="availableMeetingDuration.label"
      [classList]="selectedDuration == availableMeetingDuration ? 'active' : ''"
      (click)="selectMeetingDuration(availableMeetingDuration)"
      [disabled]="availableMeetingDuration.value>interval"
    ></app-button>
  </div>
  <div class="button-row-2">
    <app-button
    [text]="'Cancel'"
    [class]="'cancel-btn'"
    routerLink="/main-page"
    [fontColor]="'#7d7e80'"
    ></app-button>
    <app-button
    [text]="currentStatus.bookButtonSecond"
    [class]="'booking-btn'"
    [backgroundColor]="'#43b799'"
    [fontColor]="'white'"
    ></app-button>
  </div>
</div>
