.buttons
  margin-left: 12px

.button-row-1
  display: flex
  justify-content: center
  flex-direction: row
  padding-top: 80px

.cancel-btn
  margin-right: 16px

.button-row-2
  display: flex
  justify-content: center
  flex-direction: row
  padding-top: 36px
.booking-btn
  padding-left: 16px


  .loader 
    border: 16px solid #f3f3f3
    border-top: 16px solid #3498db
    border-radius: 50%
    width: 120px
    height: 120px
    animation: spin 2s linear infinite

.event
  font-color: #526072
  width: 100%
  background-color: #e0e3e5
  margin: 2px

.events-block
  width: 100%

.space
  width: 100%

.tempEvent
  font-color: white
  margin: 1px
  width: 100%
  background-color: #526072

.scrolling-block
  overflow: scroll
  height: 700px
  width: 500px
